.weekly-cal-th {
	font-size: medium;
	border: 1px solid #444444;
	width: 14.2%;
}

.dailyEvents {
	border: 1px solid #444444;
	font-size: medium;
	vertical-align: top;
	text-align: left;
	padding: 5px;
}